{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Batmaid developer challenge</h1>
        <div id="message" class="alert alert-success{% if form is defined %} hidden{% endif %}" role="alert">
            Reason submitted successfully.
        </div>
        <div id="declineForm">
            {% if form is defined %}
                <div id="next">
                    {{ form(form) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()  }}
    <script src="{{ asset('bundles/app/js/agent-decline-form.js') }}"></script>
    <script>
        $( document ).ready( agentDeclineFormValidation.init );
    </script>
{% endblock %}